html {
  scroll-snap-type: y mandatory;
}

.app {
  background-color: black;
}
.app__videos {
  width: 80%;
  position: relative;
  height: 800px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

/*Hide scrollbar for chrome, Sfari and opera */
.app__videos::-webkit-scrollbar {
  display: none;
}

/*Hide scrollbar for IE, Rdge and Firefox */
.app__videos {
  -ms-overflow-style: none; /*IE and Edge */
  scrollbar-width: none; /*Firefox */
}
